bootstrap.pyc env.pyc fabfile.pyc
auth.txt
anri.cfg
amsterdam.cfg
new_migration.sh
pagebrowser_auth.txt
fabfile.py
env.py
staging.cfg
jenkins.cfg
watermarked_file.pdf
venv/
tmp/
bin/
data/
develop-eggs/
files/
bin/
develop-eggs/
/data/
docs/build/
docs/source/test/
eggs/
env/
parts/
pg_dump/
src/restrepo/restrepo.egg-info/
files/
src/restrepo/data/ead2viewer_mapping.xls
src/restrepo/pagebrowser_auth.txt
src/collective.recipe.solrinstance/
src/mysolr/
src/nose-sphinx-doc/
src/sphynx-bootstrap-theme/
src/watermarker
tmp/
var/
*.pyc
*.swp
.codeintel
.coverage
.installed.cfg
.mr.developer.cfg
.noseids
.project
.pydevproject
.settings/

auth.txt
coverage.xml
circus.ini
output.xml
paster.log
sloccount.sc
nosetests.xml
pylint.log
pep8.log
pyflakes.log
restrepo/files
restrepo/tests/test_development.py
restrepo.ini
development.ini
restrepo_test.ini
test_performance/jmeter*
pagebrowser_auth.txt

watermarked_file.pdf
buildout.cfg
venv/
